*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body{
    background-color: #E57373;
    color: white;
    
} */
.total-navbar{
    display: flex;

}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 60px;
    border-radius: 5px;
    background-color: #E57373;
}
.navbar-section-1{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: space-evenly;
}
.navbar img{
    height:50px;
    width: 50px;
    padding: 10px;
}

/* site-navbar start */
.site-navbar{
    width: 150px;
    height: 100vh;
    background-color: #D32F2F;
    color: white;
}
.site-navbar-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.site-navbar-user img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
/* site-navbar end */

/* header section start  */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.users img{
 height: 50px;
 width: 50px;
 border-radius: 50px;
}
/* header section end  */